In [58]:

import pandas as pd
x = pd.read_csv("/content/FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding="latin-1")

x.groupby('Element')['Y2017'].sum()

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

In [59]:
import numpy as np

a = np.array([[94, 89, 63],
                  [93, 92, 48],
                  [92, 94, 56]])

b = a[[0, 1], [1, 0]]

print(b)

[89 93]

In [60]:
import pandas as pd
data = pd.DataFrame({'sa':[1, 35, 6], 'ds':[85, 96, 42]})
data.shape

(3, 2)

In [32]:
S = [['him','sell'],[90,28,43]]
S[0][1][1]

'e'

In [33]:
y = [(2,4),(7,8),(1,5,9)]
x = y[1][1]
print(x)

8

In [61]:
c = (1,2,5,8)
c[2]=6

TypeError: 'tuple' object does not support item assignment

In [66]:
import pandas as pd

d = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30, 'Brazil', 92]]
col = ['Age', 'Nationality', 'Overall']

df = pd.DataFrame(d, columns=col,index=[i for i in range (1,4)])

print(df)

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [67]:
x.groupby('Y2017')['Area'].sum()

Y2017
-1582.0                       EgyptEgypt
-1200.0                       Mozambique
-1159.0                       Mozambique
-865.0       United Republic of Tanzania
-860.0       United Republic of Tanzania
                        ...
 96443.0                           Egypt
 106400.0                       Ethiopia
 112625.0                        Nigeria
 117702.0                        Nigeria
 190873.0                        Nigeria
Name: Area, Length: 4537, dtype: object

In [68]:
m=x.groupby('Area')['Area']
m.unique().count()

49

In [69]:
x.groupby('Y2017')['Y2017'].mean()

Y2017
-1582.0       -1582.0
-1200.0       -1200.0
-1159.0       -1159.0
-865.0         -865.0
-860.0         -860.0
               ...
 96443.0      96443.0
 106400.0    106400.0
 112625.0    112625.0
 117702.0    117702.0
 190873.0    190873.0
Name: Y2017, Length: 4537, dtype: float64

In [70]:
import numpy as np
x.groupby('Y2017')['Y2017'].sd()

AttributeError: 'SeriesGroupBy' object has no attribute 'sd'